<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Tech Blog</title>
</head>
<body>
    <header>
 
        <section class="mainHeader">
        <div class="headerDiv">
            {{#if logged_in}}
            <div class="headerLinks">
                <ul>
                    <a href="/" class="links">Home</a>
                    <a href="/dashboard" class="links">Dashboard</a>
                    <a href="#" id="logout" class="links">Logout</a>
                </ul>
            </div>

            {{else}}
            <div class="headerLinks">
                <ul>
                    <a href="/" class="links">Home</a>
                    <a href="/dashboard" class="links">Dashboard</a>
                    <a href="/login" id="login" class="links">Login</a>
                </ul>
            </div>
            {{/if}}
            <div id="websiteTitle">
                <h1>Tech Blog Website</h1>
            </div>
            
        </div>
            
        </section>

    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <div class="footerDiv">
            <a href="https://github.com/Bwing2" class="links">Created by Brandon Wing</a>
        </div> 
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>


</html>