{{#each posts as |posts|}}

<section>
    <div class="postsHomepage">
        <h2>{{posts.title}}</h2>
        <p>{{posts.date_created}}</p>
        <p>{{posts.post_content}}</p>
    </div>
</section>

{{/each}}