<h2>Login</h2>

<form class="loginForm">
    <div class="entryDiv">
        <label for="emailLogin">Email:</label>
        <input class="formInput" type="email" id="emailLogin"/>
    </div>
    <div class="entryDiv">
        <label for="passwordLogin">Password:</label>
        <input class="formInput" type="password" id ="passwordLogin"/>
    </div>
    <div class="entryDiv">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
    <div class="signUpDiv">
        <a href="/signup">Sign Up Here</a>
    </div>
</form>

<!-- Add script link here -->