<h2>Sign Up</h2>

<form class="signUpForm">
    <div class="entryDiv">
        <label for="usernameSignUp">Username:</label>
        <input class="formInput" type="username" id="usernameSignUp"/>
    </div>
    <div class="entryDiv">
        <label for="emailSignUp">Email:</label>
        <input class="formInput" type="email" id="emailSignUp"/>
    </div>
    <div class="entryDiv">
        <label for="passwordSignUp">Password:</label>
        <input class="formInput" type="password" id ="passwordSignUp"/>
    </div>
    <div class="entryDiv">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
    <div class="loginDiv">
        <a href="/login">Log In Here</a>
    </div>
</form>

<!-- Add script link here -->