/* Homepage page */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body {
    padding: 10px;
    background-color: #90E0EF;
}

h1 {
    padding: 10px;
    font-size: 50px;
    color: #03045E;
}

h2 {
    margin: 10px 0px 10px 0px;
    font-size: 30px;
}

a {
    margin-right: 10px;
    text-decoration: none;

}

button {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #0077B6;
}

ul {
    padding: 10px 10px 0px 10px;
}

a:hover, .postTitle:hover {
    color: white;
    transition: 0.3s ease;
    
}

button:hover {
    box-shadow: 5px 5px black;
    transition: 0.3 ease;
    cursor: pointer;
}

/* Homepage and dashboard page */ 
.headerDiv {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #CAF0F8;
}

.headerDiv, .footerDiv {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0077B6;
}

.links {
    font-size: 25px;
}

#websiteTitle {
    background-color: #00B4D8;
}

.footerDiv {
    padding: 10px;
    text-align: center;
}

.postDiv {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: #00B4D8;
}

.postHeader, .postBody {
    margin: 10px;
}

.postTitle, .postTitleSpecific {
    display: inline-block;
}

.postBody {
    font-size: 25px;
}

.createButton {
    margin: 10px 0px 10px 0px;
}

#createBtn {
    width: 100%;
}

/* Form login signup page */
.entryDiv, .signUpDiv, .loginDiv {
    font-size: 25px;
    margin-bottom: 10px;
}

.formInput {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    font-size: 20px;
}

#signUpLink, #loginLink {
    font-size: 20px;
    color: blue;
}

#signUpLink:hover, #loginLink:hover {
    color: rgb(1, 1, 161);
    transition: 0.3s ease;
}

/* edit post page */

.buttonDiv {
    display: flex;
}

.editButtons {
    margin: 10px 10px 10px 0px;
}

/* specificPost page */

.commentsDiv {
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: #0077B6;
}